<div　class="toppage">
　<h1 class=text-center>ようこそ発達障害チャンネルへ</h1>

  <p class="text-center">ここでは、発達障害の当事者の方、もしくはお子様を持つ方が、お悩み、おすすめ施設(支援センター、病院)<br>
  おすすめ商品(サプリ、本)の情報を共有し、さらに皆さんが抱えているお悩みを会員者に相談ができます。</p>
  <h3 class="text-center">会員登録して、新たな一歩に踏み出してみましょう!</h2>
  
  <div class="text-center">
  <a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-arrow-right"></span>会員登録</a>
  </div>
</div>


